.top {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-9);
  padding-top: var(--space-9);
  padding-bottom: var(--space-12);
}

.skeletonInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
}

.tabs {
  padding: var(--space-9) 0 var(--space-12);
  scroll-margin-top: var(--header-height);
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

@media (width >= 1024px) {
  .top {
    grid-template-columns: minmax(0, 553px) minmax(0, 1fr);
    gap: var(--space-12);
  }
}
