.badge {
  display: inline-grid;
  place-items: center;
  width: 48px;
  height: 48px;
  font-size: var(--text-md);
  font-weight: var(--weight-medium);
  color: var(--color-white);
  border-radius: var(--radius-round);
}

.sale {
  background-color: var(--color-sale);
}

.new {
  background-color: var(--color-new);
}
